.input__input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 32px;
}

.input__label-required-mark {
    margin-left: 2px;
    color: #d91f1f;
    font-size: 12px;
}

.input__message {
    display: block;
    margin: 3px 0;
    color: #d91f1f;
    font-size: 12px;
}